body{
    background-color:#242424;
    font-family: sans-serif;
}

.calculator{
    background-color: honeydew ;
    height: 600px;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid lightgray;
}
#result{
    height: 120px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px 10px;
    position: relative;
}
#keyboard{
    height: 400px;
}
#history{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: right;
    right: 0;
    padding-right: 10px;
}
#output{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
}
.operators , .numbers , .dot{
    height: 70px;
    width: 70px;
    margin: 10px;
    font-size: 28px;
    border-radius: 50%;
    border-width: 0;
    background-color: #fff;
    box-shadow: 3px 2px 10px lightgrey;
    
}
.operators:active {
    background-color: #fff;
}
.numbers:active , .dot:active{
    background-color: lightgrey;
}
.operators:focus , .numbers:focus , .dot:focus{
    outline: 0;
}
.operators{
    background-color: lightgrey;
}
